body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.return-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: #333;
}

#searchBox {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 40px);
    max-width: 400px;
}

.sort-buttons {
    text-align: center;
    margin: 20px 0;
}

.sort-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.sort-buttons button:hover {
    background-color: #555;
}

#nft-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.nft {
    margin: 10px;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nft img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.nft h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.nft p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #555;
}
